 #toolbarMap { /* barra transparente */
    position: relative;
    z-index: 1; 
    width: auto;
    padding: 0px;
    background: black;
    height: auto;
    opacity: .45; 
    color: black;
  }

#map {  /*Para poder ver el mapa y colocarlo de foto para la barra  */
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0;
    &.show-map{
    opacity: 1;
    }
}