img#fotoPerfil { 
    width: 70px;
    height: 70px;
    border-radius:200px;
    text-align: center;
}
#toolbarFoto {
    height: 10%;

    text-align: center;
    p{
        font-weight: 700;
        color: rgb(54, 54, 155);
    }

}

.md #duocLogo {
    height: 50%;
    width: 50%;
}

.linea-division {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color: #000000;
    z-index: 999;
}