* {
    font-family: lato;
}

h1{
    font-family: lato;
    color: white;
    left: 17px;
}

h3{
    font-family: lato;
    color: rgb(206, 206, 206);
    left: 17px;
}
p{
    font-size: 15px;
    font-family: lato;
    color: rgb(195, 185, 185);
    left: 17px;
}

.menu-header-bg {
    height: 180px;
    width: 350px;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(50deg, rgb(137, 151, 255) 0%, rgb(0, 81, 255) 100%);
    box-shadow: 0px 1px 10px rgba(47, 0, 255, 0.5);
    transform: rotate(0wdeg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content {
    position: absolute;
    top: 30px;
    left: 17px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}


img { 
    width: 70px;
    height: 70px;
    border-radius:200px;
}

.menu-items{
    margin: 0px;
    margin-top: -35px;
    ion-icon {
        margin-right: 10px;
        color: rgb(31, 2, 105);
    }
    ion-item{
        padding-left: 10px;
        margin-bottom: 5px;
    }
    
}

.linea-division {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color: #000000;
    z-index: 999;
}

.item {
   margin-top: px;
}

.background-container1{
    height: 100vh;
    width: 100%;
    display: flex;
    background: url('../assets/icon/taxi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    
  } 

