<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title id="titulo">Datos Personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="formularioConductor" (ngSubmit)="guardarDatos()">
    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input formControlName="rut" minlength="9"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input formControlName="nombreCompleto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo electronico</ion-label>
      <ion-input value="{{ email }}" type="text" readonly="readonly"></ion-input>
    </ion-item>
    

      <ion-item>
        <ion-label position="floating">Carrera</ion-label>

          <ion-select multiple="false" placeholder="Select Carrera" formControlName="carrera">
            <ion-select-option value="Auditoria">Auditoria</ion-select-option>
            <ion-select-option value="TurismoYhoteleria">Turismo y Hotelería</ion-select-option>
            <ion-select-option value="Ing.Informatica">Ingeniería en Informática</ion-select-option>
          </ion-select>

    </ion-item>

    <ion-item>
      <ion-label position="floating">Sede</ion-label>

        <ion-select multiple="false" placeholder="Select Sede" formControlName="sede">
          <ion-select-option value="Valparaiso">Valparaiso</ion-select-option>
          <ion-select-option value="VinaDelMar">Viña del Mar</ion-select-option>
          <ion-select-option value="PuertoMontt">Puerto Montt</ion-select-option>
        </ion-select>
        
    </ion-item>

  </form>

  <ion-button (click)="guardarDatos()" expand="block" fill="clear" shape="round">
    Siguiente
  </ion-button>
      <ion-modal trigger="open-modal-agregar">
        <ng-template>

          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="volverInicio()">Cancel</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button (click)="agregar(txtMarca, txtModelo, txtMatricula)" [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-toolbar>
            <ion-title style="text-align: center;">Datos<br>Vehiculo</ion-title>
          </ion-toolbar>
          
          <ion-content>
            <ion-item>
              <ion-label>Matricula / key</ion-label>
              <ion-input type="text" placeholder="Ej: CCXD53" #txtMatricula></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Marca</ion-label>
              <ion-input type="text" placeholder="Ej: Nissan" #txtMarca></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Modelo</ion-label>
              <ion-input type="text" placeholder="Ej: V16" #txtModelo></ion-input>
            </ion-item>

            
            <ion-footer>
              <ion-toolbar> <!-- 
                <ion-buttons slot="start">
                  <ion-button (click)="Listar()">Listar</ion-button>
                </ion-buttons>    -->             
                <ion-buttons slot="end">
                  <ion-button (click)="buscar(txtMatricula)">Buscar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-footer>

              <ion-card color="danger" *ngIf="matricula">

                <ion-card-header style="color: black;">
                  <ion-card-title class="ion-text-center">
                    Vehiculo encontrado
                  </ion-card-title>
                </ion-card-header>

                <ion-card-content style="text-align: center;font-size: medium;">
                  <b>Matricula: </b> {{ matricula }} <br>
                  <b>Marca: </b> {{ marca }} <br>
                  <b>Modelo: </b> {{ modelo }} <br>
                  
                  <ion-button (click)="eliminar(txtMatricula)" fill="clear" style="font-size: x-large;color: black;">
                    Eliminar
                  </ion-button>
     
                  
                </ion-card-content>
                
              </ion-card>

          </ion-content>
        </ng-template>
      </ion-modal>


 
</ion-content>