<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="conductor"></ion-back-button>
    </ion-buttons>
    <ion-title>Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="usuario" (ngSubmit)="guardarDatos()">
    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input formControlName="rut"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input formControlName="nombreCompleto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo electronico</ion-label>
      <ion-input formControlName="correo"></ion-input>
    </ion-item>
    

      <ion-item>
        <ion-label position="floating">Carrera</ion-label>

          <ion-select multiple="false" placeholder="Select Carrera">
            <ion-select-option value="Auditoria">Auditoria</ion-select-option>
            <ion-select-option value="TurismoYhoteleria">Turismo y Hotelería</ion-select-option>
            <ion-select-option value="Ing.Informatica">Ingeniería en Informática</ion-select-option>
          </ion-select>

    </ion-item>

    <ion-item>
      <ion-label position="floating">Sede</ion-label>

        <ion-select multiple="false" placeholder="Select Sede">
          <ion-select-option value="Valparaiso">Valparaiso</ion-select-option>
          <ion-select-option value="VinaDelMar">Viña del Mar</ion-select-option>
          <ion-select-option value="PuertoMontt">Puerto Montt</ion-select-option>
        </ion-select>
        
  </ion-item>
  </form>
 
</ion-content>