<ion-header>
  <ion-toolbar>
    <ion-title>Informarción</ion-title>
    <ion-buttons slot="start">
    <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="../../assets/images/informacion.svg" id="ayuda"></ion-img>

  <p>Debido a la falta de transporte público en horario vespertino, alto costo de servicios de transporte particular (Uber, taxi, etc.), el no contar con movilización propia,
     falta de transporte facilitado por la institución de educación.
     Se nos ha contactado con el fin de terminar con esta problemática en forma definitiva
    para que desarrollemos una Aplicación Móvil, llamada "TeLlevoAPP" capaz de ser utilizada en plataformas tanto como
    Android e iOS que permita que los alumnos del DuocUc se organicen a través de la App para que puedan retornar a
    sus hogares utilizando vehículos de algunos alumnos que si tienen movilización propia.</p>