#subtoolbar {
  padding-top: 0px;
}

#SelectSede {
  text-align: center;
  margin: auto;
}

#subtitle {
  text-align: center;
}

#pasajeros {
  height: 60px;
  width: 60px;
  margin-top: -40px;
  float: right;
}

.md #pasajeros { //solo para android
  margin-top: -35px;

}

.md #duocLogo {
  height: 50%;
  width: 50%;
}

#subtitlecard1 {
  margin-top: 5px;
}

ion-modal {
  text-align: center;
}

#card2 {
  margin: -11px;
}

#cardTitle {
  text-align: center;
  color: black;
}

#cardText2 {
  text-align: center;
}
