<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" id="btnMenu">
      <ion-button style="position: absolute;">
        <ion-menu-button slot="icon-only" name="menu"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <img src="../assets/images/duocLogo.png" alt="duocLogo" id="duocLogo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar id="subtoolbar">
      <ion-title size="small"> <!--En el SCSS poner size=small solamente en IOS-->
        <ion-list>
          <ion-item>
            <ion-select placeholder="Selecciona Sede" id="SelectSede">
              <ion-select-option id="SelectSede" value="PuertoMontt">Puerto Montt</ion-select-option>
              <ion-select-option id="SelectSede" value="Viña del mar">Viña del mar</ion-select-option>
              <ion-select-option id="SelectSede" value="Valparaiso">Valparaiso</ion-select-option>
            </ion-select><ion-button [routerLink]="['/mapa']">
              <ion-icon slot="icon-only" name="map"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-title>
        <ion-input placeholder="¿a donde deseas ir?" id="subtitle"></ion-input>
    </ion-toolbar>
  </ion-header>


  <div>
    <ion-card button *ngIf="destino != null && precio != null && horaSalida != null" color="secondary" id="anuncio-modal">

      <ion-card-header>
        <ion-card-title size="x-small" >{{ destino }}</ion-card-title>
        <ion-card-subtitle id="subtitlecard1">{{ marca }} {{ modelo }}</ion-card-subtitle>
      </ion-card-header>


      <ion-card-content>
        salida: {{ horaSalida }} <br>
        Precio: {{ precio }}
      </ion-card-content>

      <ion-modal trigger="anuncio-modal">

        <ng-template>

          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="volverInicio()">Cancel</ion-button>
              </ion-buttons>
              <ion-title>{{ destino }}</ion-title>
              <ion-buttons slot="end">
                <ion-button  [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>



          <ion-content class="ion-padding">
            <ion-card id="card2" color="primary">
              <img alt="Silhouette of mountains" src="../assets/images/skyline.png" />
              <ion-card-header>
                <ion-card-title id="cardTitle">Datos personales</ion-card-title>
                <ion-card-content id="cardText2">
                  <b>Conductor: </b>{{ nombreConduc }} <br>
                  <b>Edad: </b> 20 <br>
                  <b>Carrera: </b>{{ carreraConduc}}
                </ion-card-content>
              </ion-card-header>
              <ion-card-subtitle id="cardTitle">Datos del auto</ion-card-subtitle>
              <ion-card-content id="cardText2">
                <b>Marca: </b>{{ marca }}<br>
                <b>Modelo: </b> {{ modelo }}<br>
                <b>Patente: </b> {{ matricula }} <br>
              </ion-card-content>
            </ion-card>
          </ion-content>




        </ng-template>

      </ion-modal>
      
    </ion-card>



    <!--//////////////////////////////////////////////////////////////////////-->
    <ion-card button color="primary" id="open-modal" expand="block">
      <ion-card-header>
        <ion-card-title size="x-small" >Calbuco</ion-card-title><img id="pasajeros" src="../assets/images/4pasajeros.png" alt="4 pasjeros">
        
        <ion-card-subtitle id="subtitlecard1">Nissan Skyline</ion-card-subtitle>
      </ion-card-header>

      
      <ion-card-content>
        salida 20:00 <br>
        Precio conversable
      </ion-card-content>

      <ion-modal trigger="open-modal">
        <ng-template>

          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="volverInicio()">Cancel</ion-button>
              </ion-buttons>
              <ion-title>Calbuco</ion-title>
              <ion-buttons slot="end">
                <ion-button  [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content class="ion-padding">
            <ion-card id="card2" color="primary">
              <img alt="Silhouette of mountains" src="../assets/images/skyline.png" />
              <ion-card-header>
                <ion-card-title id="cardTitle">Datos personales</ion-card-title>
                <ion-card-content id="cardText2">
                  <b>Conductor: </b>Lucas Hernandez <br>
                  <b>Edad: </b>19 <br>
                  <b>Carrera: </b>Ing. Informatica 
                </ion-card-content>
              </ion-card-header>
              <ion-card-subtitle id="cardTitle">Datos del auto</ion-card-subtitle>
              <ion-card-content id="cardText2">
                <b>Marca: </b>Nissan<br>
                <b>Modelo: </b> Skyline GT-R R34<br>
                <b>Patente: </b> BB*CL*34 <br>
              </ion-card-content>
            </ion-card>
          </ion-content>

        </ng-template>
      </ion-modal>

    </ion-card>
    <!--//////////////////////////////////////////////////////////////////////-->


    <ion-card button  color="success" id="open-modal-2" expand="block">
      <ion-card-header>
        <ion-card-title size="x-small" >Maullin</ion-card-title><img id="pasajeros" src="../assets/images/2pasajeros.png" alt="4 pasjeros">
        <ion-card-subtitle id="subtitlecard1">ford mustang</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        salida 18:00 <br>
        $1200
      </ion-card-content>

      <ion-modal trigger="open-modal-2">
        <ng-template>

          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="volverInicio()">Cancel</ion-button>
              </ion-buttons>
              <ion-title>Maullin</ion-title>
              <ion-buttons slot="end">
                <ion-button  [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content class="ion-padding">
            <ion-card id="card2" color="success">
              <img alt="Silhouette of mountains" src="../assets/images/mustang.png" id="coche" style="margin-top: 70px;"/>
              <ion-card-header>
                <ion-card-title id="cardTitle">Datos personales</ion-card-title>
                <ion-card-content id="cardText2">
                  <b>Conductor: </b>Selena Gomez <br>
                  <b>Edad: </b>24 <br>
                  <b>Carrera: </b>Ing. Construccion
                </ion-card-content>
              </ion-card-header>
              <ion-card-subtitle id="cardTitle">Datos del auto</ion-card-subtitle>
              <ion-card-content id="cardText2">
                <b>Marca: </b>Ford<br>
                <b>Modelo: </b> Mustang Shelby GT500<br>
                <b>Patente: </b> DT*RC*78 <br>
              </ion-card-content>
            </ion-card>
          </ion-content>

        </ng-template>
      </ion-modal>

    </ion-card>


    <ion-card button color="warning" id="open-modal-3" expand="block">
      <ion-card-header>
        <ion-card-title size="x-small" >Osorno</ion-card-title><img id="pasajeros" src="../assets/images/3pasajeros.png" alt="4 pasjeros">
        <ion-card-subtitle id="subtitlecard1">Audi R8</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        salida 15:00 <br>
        $1900
      </ion-card-content>

      <ion-modal trigger="open-modal-3">
        <ng-template>

          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="volverInicio()">Cancel</ion-button>
              </ion-buttons>
              <ion-title>Osorno</ion-title>
              <ion-buttons slot="end">
                <ion-button  [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content class="ion-padding">
            <ion-card id="card2" color="warning">
              <img alt="Silhouette of mountains" src="../assets/images/audi.png" style="margin-top: 70px;"/>
              <ion-card-header>
                <ion-card-title id="cardTitle">Datos personales</ion-card-title>
                <ion-card-content id="cardText2">
                  <b>Conductor: </b>Alexis Sanchez <br>
                  <b>Edad: </b>24 <br>
                  <b>Carrera: </b>Ing. Electricidad 
                </ion-card-content>
              </ion-card-header>
              <ion-card-subtitle id="cardTitle">Datos del auto</ion-card-subtitle>
              <ion-card-content id="cardText2">
                <b>Marca: </b>Audi<br>
                <b>Modelo: </b> R8<br>
                <b>Patente: </b> CC*XD*28 <br>
              </ion-card-content>
            </ion-card>
          </ion-content>

        </ng-template>
      </ion-modal>

    </ion-card>
  </div>
</ion-content>
    
    