<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-container">
    </div>

  <div id="container">
    <ion-button routerLink="/conductor" color="warning" shape="round">
      <ion-icon slot="start" name="bus-outline"></ion-icon>
        Soy conductor
    </ion-button>

  <ion-button routerLink="/pasajero" color="warning" shape="round">
    <ion-icon slot="end" name="person-outline"></ion-icon>
     Soy pasajero
  </ion-button>

  </div>
</ion-content>
